& > main.content {
    max-width: $mainWidth;
    margin-top: -$bannerOverflow - ($listPadding / 2);
    padding: 0 $listPaddingMobile;
    @media (min-width: $mobileWidth) {
        padding: 0 $listPadding;
    }
    @media (max-width: $mobileWidthSmall) {
        padding: 0;
    }
    & > article, & > .comment {
        background-color: var(--article-bg);
        padding: 0 $articlePaddingMobile;
        @media (min-width: $mobileWidth) {
            padding: 0 $articlePadding;
        }
        border-radius: $listBlockRadius;
        box-shadow: var(--article-outline);
        @media (max-width: $mobileWidthSmall) {
            border-radius: 0;
        }
    }
    & > article {
        padding-bottom: 2rem;
        h1 {
            $lineHeight: 1.6em;
            $computedHeight: 1em - ($lineHeight - 1) / 2;

            line-height: $lineHeight;
            padding: 0;
            padding-top: $computedHeight;
            margin: 0;
            margin-bottom: $computedHeight;
            color: var(--content-title-fg);
            font-size: 2rem;
        }
        time {
            border-bottom: 2px var(--article-time-bar) dashed;
            width: 100%;
            display: block;
            padding-bottom: 0.9rem;
            margin: 0.9rem 0;
            color: var(--article-time-text);

            padding-left: 1.5em;
            position: relative;
            box-sizing: border-box;
            svg.icon {
                position: absolute;
                width: 1em;
                height: 1em;
                left: 0;
                display: inline-block;
                fill: var(--article-time-text);
            }
        }
        @import './markdown.scss';
    }
    & > .comment {
        margin-top: 1rem;
        padding: 1rem $articlePaddingMobile;
        @media (min-width: $mobileWidth) {
            padding: 1rem $articlePadding;
        }
    }
}