& > header.banner {
    padding-top: $menuHeight;
    padding-bottom: $bannerOverflow;
    background-color: var(--banner-bg);
    color: var(--banner-fg);
    .wrap {
        max-width: $bannerWidth;
        height: $bannerHeight;
        padding: 0 $bannerPadding;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: $bannerTitleFontSize;
            margin: 0;
            padding: 0;
            padding-bottom: 0.6em;
        }
        .description {
            font-size: 1rem;
            line-height: $bannerDescLineHeight;
            margin: -($bannerDescLineHeight - $bannerDescFontSize) / 2 0;
        }
    }
}
