& > .comment {
    --padding-v: 1.3rem;
    --avatar-size: 4rem;

    margin-top: 1rem;
    padding: 0 $articlePaddingMobile;
    @media (min-width: $mobileWidth) {
        padding: 0 $articlePadding;
    }
    h2 {
        font-size: 1.4rem;
        line-height: 1em;
        margin: 0;
        padding: var(--padding-v) 0;
        margin-bottom: var(--padding-v);
        border-bottom: 2px solid var(--article-line);
        color: var(--content-title-fg);
    }
    .comments {
        padding: 0;
        margin: 0;
        & > .item {
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: var(--avatar-size) max-content;
            grid-template-rows: 1fr;
            gap: 0px 0px;
            grid-template-areas:
                ". .";
            .avatar > div {
                width: var(--avatar-size);
                height: var(--avatar-size);
                background-size: cover;
                border-radius: 0.7rem;
            }
            .entry {
                padding-left: 1.2rem;
                .name {
                    font-weight: bold;
                    color: var(--content-title-fg);
                    padding-bottom: 0.3rem;
                }
                .content {
                    color: var(--content-fg);
                }
            }
        }
    }
}
