@import './mixins/line-height.scss';

& > .comment {
    --padding-v: 1.2rem;
    --avatar-size: 3.5rem;
    @media (min-width: $mobileWidth) {
        --padding-v: 1.3rem;
        --avatar-size: 4rem;
    }

    margin-top: 1rem;
    padding: 0 $articlePaddingMobile;
    @media (min-width: $mobileWidth) {
        padding: 0 $articlePadding;
    }
    h2 {
        font-size: 1.4rem;
        line-height: 1em;
        margin: 0;
        padding: var(--padding-v) 0;
        margin-bottom: var(--padding-v);
        border-bottom: 2px solid var(--article-line);
        color: var(--content-title-fg);
    }
    .comments {
        padding: 0;
        margin: 0;
        & > .item {
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: var(--avatar-size) 1fr;
            grid-template-rows: 1fr;
            gap: 0px 0px;
            grid-template-areas:
                ". .";
            &:not(:first-child) {
                padding-top: var(--padding-v);
            }
            .avatar > div {
                width: var(--avatar-size);
                height: var(--avatar-size);
                background-size: cover;
                border-radius: 0.7rem;
            }
            .entry {
                padding-left: 1rem;
                @media (min-width: $mobileWidth) {
                    padding-left: 1.2rem;
                }
                .name {
                    font-weight: bold;
                    color: var(--content-title-fg);
                    padding-bottom: 0.3rem;
                }
                .content {
                    color: var(--content-fg);
                    margin: 0;
                    white-space: pre-wrap;
                    word-break: break-all;
                    @include lineHeight(1.6rem, 0.7rem, 0.7rem);
                }
                .meta {
                    margin: 0;
                    padding: 0;
                }
                .meta li {
                    // display: inline-block;
                    list-style: none;
                    line-height: 1.8rem;
                    padding: 0;
                    margin: 0;
                    position: relative;
                    float: left;
                    color: var(--article-time-text);
                    a {
                        color: var(--content-anchor);
                        text-decoration: none;
                        &:hover {
                            color: var(--content-anchor-hover);
                            text-decoration: underline;
                        }
                    }
                    &:not(:first-child) {
                        padding-left: 1.7rem;
                        &::before {
                            content: '•';
                            position: absolute;
                            left: 0;
                            width: 1.7rem;
                            height: 1.8rem;
                            line-height: 1.8rem;
                            font-size: 0.9rem;
                            text-align: center;
                            color: var(--actionBar);
                        }
                    }
                }
            }
        }
    }
}
