& > .comment {
    --padding-v: 1rem;
    --avatar-size: 4rem;
    --avatar-padding: 0.5rem;

    margin-top: 1rem;
    padding: 0 $articlePaddingMobile;
    @media (min-width: $mobileWidth) {
        padding: 0 $articlePadding;
    }
    h2 {
        font-size: 1.35rem;
        margin: 0;
        padding: var(--padding-v) 0;
        margin-bottom: var(--padding-v);
        border-bottom: 2px solid var(--article-line);
    }
    .comments {
        padding: 0;
        margin: 0;
        & > .item {
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: var(--avatar-size) max-content;
            grid-template-rows: 1fr;
            gap: 0px 0px;
            grid-template-areas:
                ". .";
            .avatar > div {
                width: var(--avatar-size);
                height: var(--avatar-size);
                background-size: cover;
                border-radius: var(--avatar-padding);
                // margin: var(--avatar-padding) 0;
            }
            .content {
                padding-left: var(--avatar-padding);
            }
        }
    }
}
