// SCSS 变量
$mobileWidth: 640px;
$mobileWidthSmall: 360px;
$mainWidth: 54rem;
$menuWidth: 66rem;
$menuHeight: 4rem;
$menuPadding: 1rem;
$menuAvatarSize: 2.9rem;
$menuAvatarSizeMobile: 2.828rem;
$menuAvatarOutline: 0.9rem;
$menuItemPadding: 1.2rem;
$menuTextSize: 1.125rem;
$menuDepth: 10000;
$menuSlideSpeed: 0.35s;
$bannerWidth: 960px;
$bannerHeight: 13rem;
$bannerPadding: 1.2rem;
$bannerTitleFontSize: 2.1rem;
$bannerDescFontSize: 1rem;
$bannerDescLineHeight: 1.6rem;
$bannerOverflow: 3rem;
$listPadding: 1.2rem;
$listPaddingMobile: 0.9rem;
$listDarkenDepth: 50;
$listTextDepth: 100;
$listBlockPadding: 1.2rem;
$listBlockRadius: 0.8rem;
$articlePadding: 2rem;
$articlePaddingMobile: 1.2rem;
$footerMarginTop: 3rem;
$footerLineHeight: 1.7em;
$footerVerticalPadding: 1.8em;

// 通用颜色设定
$colorTheme: #ff9800;

:root {
    --theme: #{$colorTheme};
    --root-bg: #eee;
    --selection-bg: #555;
    --selection-fg: #f8f8f8;
    --menu-shadow-on: 0 0 3rem 0 rgba(0, 0, 0, 0.22);
    --menu-shadow-off: 0 0 3rem 0 rgba(0, 0, 0, 0);
    --menu-dt-bg: #fff;
    --menu-dt-fg: #222;
    --menu-btn-normal: #111;
    --menu-btn-focus: #888;
    --banner-bg: #{$colorTheme};
    --banner-fg: #000;
    --article-bg: #fff;
    --article-fg: #111;
    --article-title: #0d0d0d;
    --article-title-hover: #{darken($colorTheme, 11%)};
    --article-time-bar: #e1e1e1;
    --article-time-text: #969696;
    --article-outline: 4px 4px 8px rgba(0, 0, 0, 0.03);
    --article-line: #bbb;
    --code-bg: #f7f7f7;
    --pagination-fg: #111;
    --pagination-fg-hover: #fff;
    --footer-bg: #333;
    --footer-fg: #bbb;
    --footer-fg-hover: #fff;
}
