// SCSS 变量
$mainWidth: 960px;
$mobileWidth: 640px;

$menuWidth: 1100px;
$menuHeight: 4rem;
$menuPadding: 1rem;
$menuAvatarSize: 2.9rem;
$menuAvatarOutline: 0.9rem;
$menuItemPadding: 1.2rem;
$menuTextSize: 1.125rem;
$menuDepth: 10000;

$bannerWidth: 960px;
$bannerHeight: 13rem;
$bannerPadding: 1.2rem;
$bannerTitleFontSize: 2.1rem;
$bannerDescFontSize: 1rem;
$bannerDescLineHeight: 1.6rem;
$bannerOverflow: 3rem;

$listPadding: 1.2rem;
$listPaddingMobile: 0.9rem;
$listDarkenDepth: 50;
$listTextDepth: 100;
$listBlockPadding: 1.2rem;
$listBlockRadius: 0.8rem;

// 通用颜色设定
$colorTheme: #ff9800;

:root {
    --theme: #{$colorTheme};
    --root-bg: #eee;
    --menu-shadow-on: 0 0 3rem 0 rgba(0, 0, 0, 0.22);
    --menu-shadow-off: 0 0 3rem 0 rgba(0, 0, 0, 0);
    --menu-dt-bg: #fff;
    --menu-dt-fg: #222;
    --banner-bg: #{$colorTheme};
    --banner-fg: #fff;
    --article-bg: #fff;
    --article-fg: #111;
    --article-title: #0d0d0d;
    --article-title-hover: #{darken($colorTheme, 11%)};
    --article-time-bar: #e1e1e1;
    --article-time-text: #969696;
    --pagination-fg: #111;
    --pagination-fg-hover: #fff;
}
