& > main.content {
    max-width: $mainWidth;
    margin-top: -$bannerOverflow - ($listPadding / 2);
    // margin-bottom: -$listPadding / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". ."
        ". ."
        ". .";
    padding: 0 $listPadding / 2;
    article {
        margin: $listPadding / 2;
        background-color: var(--article-bg);
    }
}