:root {
    font-family: -apple-system, sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--root-bg);
}

.wrap {
    margin: 0 auto;
    box-sizing: content-box;
}

.shared-icon {
    position: absolute;
    left: -100px;
    top: -100px;
    width: 50px;
    height: 50px;
}