& > main.list {
    max-width: $mainWidth;
    margin-top: -$bannerOverflow - ($listPadding / 2);
    padding: 0;
    @media (min-width: $mobileWidth) {
        padding: 0 $listPadding;
        margin-bottom: -($listPadding / 2);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". ."
            ". ."
            ". .";
    }
    article {
        margin: $listPaddingMobile;
        background-color: var(--article-bg);
        padding: $listBlockPadding;
        border-radius: $listBlockRadius;
        min-height: 14rem;
        box-shadow: var(--article-outline);
        @media (min-width: $mobileWidth) {
            margin: $listPadding / 2;
            &:nth-child(2n - 1) {
                margin-left: 0;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
        h2 {
            $lineHeight: 1.7em;

            font-size: 1.4rem;
            line-height: $lineHeight;
            margin: 0;
            margin-top: calc(0.3rem - #{($lineHeight - 1) / 2});
            margin-bottom: calc(1.2rem - #{($lineHeight - 1) / 2});
            a {
                color: var(--article-title);
                text-decoration: none;
                &:hover {
                    color: var(--article-title-hover);
                    text-decoration: underline;
                }
            }
        }
        .content {
            $lineHeight: 1.7em;
            font-size: 1rem;
            line-height: $lineHeight;
            margin-top: -($lineHeight - 1) / 2;
            margin-bottom: -($lineHeight - 1) / 2;
            color: var(--article-fg);

            // HACK: 「X 行后省略」的勉强解决方案（使用了非标准的 CSS 特性，但是在三大浏览器都被支持了？！）
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6;
            overflow: hidden;
        }
        time {
            border-bottom: 2px var(--article-time-bar) dashed;
            width: 100%;
            display: block;
            padding-bottom: 0.9rem;
            margin-bottom: 0.9rem;
            color: var(--article-time-text);

            padding-left: 1.5em;
            position: relative;
            box-sizing: border-box;
            svg.icon {
                position: absolute;
                width: 1em;
                height: 1em;
                left: 0;
                display: inline-block;
                fill: var(--article-time-text);
            }
        }
        &.with-image {
            background-position: center;
            background-size: cover;
            position: relative;
            // background-color: rgba(0, 0, 0, 0.7);
            &::after {
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.95) 100%);
                border-radius: 0.8rem;
                z-index: $listDarkenDepth;
            }
            h2 {
                position: relative;
                z-index: $listTextDepth;
                a {
                    color: rgba(255, 255, 255, 0.9);
                    &:hover {
                        color: rgb(255, 255, 255);
                    }
                }
            }
            .content {
                position: relative;
                z-index: $listTextDepth;
                color: rgba(255, 255, 255, 0.9);
            }
            time {
                position: relative;
                z-index: $listTextDepth;
                border-bottom: 2px rgba(255, 255, 255, 0.3) dashed;
                color: rgba(255, 255, 255, 0.6);
                svg {
                    fill: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }
}

& > nav.pagination {
    max-width: $mainWidth;
    margin: $listPaddingMobile auto;
    padding: 0 $listPaddingMobile;
    @media (min-width: $mobileWidth) {
        margin: $listPadding auto;
        padding: 0 $listPadding;
    }
    .inner {
        background-color: var(--article-bg);
        border-radius: $listBlockRadius;
        box-shadow: var(--article-outline);
        position: relative;
        a {
            $fadeDelay: 0.16s;
    
            display: block;
            padding: 1rem;
            color: var(--pagination-fg);
            background-color: var(--article-bg);
            text-decoration: none;
            position: relative;
            transition: color $fadeDelay, background-color $fadeDelay;
            &:hover {
                color: var(--pagination-fg-hover);
                background-color: var(--theme);
                text-decoration: none;
                .icon {
                    fill: var(--pagination-fg-hover);
                }
            }
            .icon {
                position: absolute;
                width: 1rem;
                height: 1rem;
                top: 1rem;
                fill: var(--pagination-fg);
                transition: fill $fadeDelay;
            }
        }
        a.prev {
            float: left;
            border-radius: $listBlockRadius 0 0 $listBlockRadius;
            padding-left: 2.5rem;
            .icon {
                left: 1rem;
            }
        }
        a.next {
            float: right;
            border-radius: 0 $listBlockRadius $listBlockRadius 0;
            padding-right: 2.5rem;
            .icon {
                transform: rotate(180deg);
                right: 1rem;
            }
        }
        div.page-num {
            position: absolute;
            padding: 1rem 0;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            display: none;
            color: var(--pagination-fg);
            @media (min-width: $mobileWidth) {
                display: block;
            }
        }
    }
}
