.markdown-body {
    $mdLineHeight: 1.7em;

    color: var(--content-fg);
    line-height: $mdLineHeight;

    @for $i from 1 through 6 {
        h#{7 - $i} {
            font-size: 1rem + ($i - 1) * 0.2rem;
            margin: calc(#{($i * 0.3rem + 0.4rem)} - #{($mdLineHeight - 1) / 2}) 0;
            line-height: $mdLineHeight + 0.1em;
        }
    }
    h1, h2 {
        $borderWidth: 0.3rem;

        border-left: $borderWidth solid darken(invert($colorTheme), 26%);
        padding: 0 $articlePaddingMobile 0 $articlePaddingMobile - $borderWidth;
        margin-left: -$articlePaddingMobile;
        margin-right: -$articlePaddingMobile;
        @media (min-width: $mobileWidth) {
            padding: 0 $articlePadding 0 $articlePadding - $borderWidth;
            margin-left: -$articlePadding;
            margin-right: -$articlePadding;
        }
    }
    a {
        color: hsl(hue(invert($colorTheme)), 100%, 42%);
        text-decoration: none;
        &:hover {
            color: hsl(hue(invert($colorTheme)), 100%, 60%);
            text-decoration: underline;
        }
    }
    p {
        font-size: 1rem;
        margin: calc(0.8rem - #{($mdLineHeight - 1) / 2}) 0;
    }
    ul, ol {
        padding-left: 2rem;
    }
    hr {
        margin: 1rem auto;
        width: 7rem;
        border: 1px solid var(--article-line);
        border-width: 2px 0 0;
    }
    pre, code {
        font-family: 'Sarasa Mono SC', Consolas, Monaco, 'Courier New', Courier, monospace;
    }
    pre {
        overflow-x: auto;
    }
    code {
        padding: 0.2em;
        border-radius: 0.2em;
        background-color: var(--code-bg);
        color: var(--code-fg);
    }
    & > pre {
        margin: 0 #{-$articlePaddingMobile};
        @media (min-width: $mobileWidth) {
            margin: 0 #{-$articlePadding};
        }
        code {
            $codeLineHeight: 1.5em;
            line-height: $codeLineHeight;
            padding: calc(.9rem - #{($codeLineHeight - 1) / 2}) $articlePaddingMobile;
            border-radius: 0;
            @media (min-width: $mobileWidth) {
                padding: calc(.9rem - #{($codeLineHeight - 1) / 2}) $articlePadding;
            }
        }
    }
    blockquote {
        margin: 0 0.6em;
        line-height: $mdLineHeight;
        background: var(--blockquote-bg);
        padding: calc(.8em - #{($mdLineHeight - 1) / 2}) .8em calc(.8em - #{($mdLineHeight - 1) / 2}) calc(.8em + .3125rem);
        border-left: .3125rem $colorTheme solid;
        pre > code {
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: var(--article-bg);
        }
    }    
    table {
        border: 0;
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
    }
    table th, table td {
        padding: .6em;
        text-align: left;
        vertical-align: middle;
    }
    table > thead > tr {
        border-bottom: 2px solid #ccc;
    }
    table > tbody > tr {
        border-bottom: 1px solid #ddd;
    }
    table > tbody > tr:last-child {
        border-bottom: 0
    }
    table > tbody > tr {
        transition: background-color 0.25s;
    }
    table > tbody > tr:hover {
        background: #eee;
    }
    
    table th, table td { 
        white-space: nowrap;
    }
    
}