& > nav.menu-sm, & > nav.menu-dt {
    position: fixed;
    width: 100%;
    background-color: var(--menu-dt-bg);
    z-index: $menuDepth;
}

& > nav.menu-dt {
    top: 0;
    box-shadow: var(--menu-shadow-off);
    transition: box-shadow 0.3s;
    @media (max-width: $mobileWidth - 1px) {
        display: none;
    }
    &.focus {
        box-shadow: var(--menu-shadow-on);
    }
    & > .wrap {
        max-width: $menuWidth;
        height: $menuHeight;
        position: relative;
        padding: 0 $menuPadding;
    }
    a.avatar {
        display: block;
        background-image: url(avatar_2020.png);
        background-size: contain;
        width: $menuAvatarSize;
        height: $menuAvatarSize;
        position: absolute;
        border-radius: 50%;
        border: $menuAvatarOutline solid var(--menu-dt-bg);
        top: ($menuHeight - ($menuAvatarSize + $menuAvatarOutline * 2)) / 2;
    }
    a.nav-item {
        display: block;
        position: relative;
        height: $menuHeight;
        line-height: $menuHeight;
        padding: 0 $menuItemPadding;
        font-size: $menuTextSize;
        text-decoration: none;
        color: var(--menu-dt-fg);
        transition: color 0.2s;
        font-weight: bold;
        &::after {
            $lineExtend: 0.6rem;
            $bold: 0.2rem;

            content: " ";
            position: absolute;
            display: block;
            left: $menuItemPadding - ($lineExtend / 2);
            top: ($menuHeight / 2) + ($menuTextSize / 2) + 0.45rem;
            width: calc(100% - #{$menuItemPadding * 2 - $lineExtend});
            height: 0.2rem;
            background-color: var(--theme);
            transform: scaleX(0);
            transition: transform 0.2s;
            pointer-events: none;
        }
        &:hover {
            color: var(--theme);
            &::after {
                transform: scaleX(1);
            }
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: left;
        li {
            // display: inline-block;
            margin: 0;
            padding: 0;
            float: left;
            &:first-child {
                margin-left: ($menuAvatarSize + $menuAvatarOutline * 2) + 1rem;
            }
        }
    }
    .rss {
        float: right;
    }
}

& > nav.menu-sm {
    @media (min-width: $mobileWidth) {
        display: none;
    }

    top: 0;
    box-shadow: var(--menu-shadow-off);
    transition: box-shadow 0.3s, transform $menuSlideSpeed;
    transform: translateY(calc(-100% + #{$menuHeight}));
    &.focus, &.opened {
        box-shadow: var(--menu-shadow-on);
    }
    &.opened {
        transform: translateY(0);
    }
    .main {
        height: $menuHeight;
        line-height: $menuHeight;
        position: relative;
        a.avatar {
            display: block;
            background-image: url(avatar_2020.png);
            background-size: contain;
            width: $menuAvatarSizeMobile;
            height: $menuAvatarSizeMobile;
            position: absolute;
            border-radius: 50%;
            left: 1rem;
            top: $menuHeight / 2 - $menuAvatarSizeMobile / 2;
        }
        @import './menu/burger-menu.scss';
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            display: block;
            margin: 0;
            padding: 0;
            a {
                height: 3.5rem;
                line-height: 3.5rem;
                display: block;
                padding: 0 $menuItemPadding;
                font-size: $menuTextSize;
                text-decoration: none;
                color: var(--menu-dt-fg);
                transition: background-color 0.2s;
                font-weight: bold;
                &:hover, &:focus {
                    background-color: var(--theme);
                }
            }
        }
    }
}